body {
    background-color: black;
    color: white;
    font-family: 'Gowun Batang', serif;
  }
  
  .logo_menu_wrap {
    height: 35px;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
    font-size: 17px;
  }
  .menu_wrap {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    position: absolute;
    right: 0;
    font-weight: 200;
    position: fixed;
  }
  .menu_item {
    text-align: center;
    height: 30px;
  }
  
  @keyframes mouseover {
    from {
      font-weight: 200;
      font-size: 17px;
    }
    to {
      font-weight: bold;
      font-size: 20px;
    }
  }
  
  .main {
    margin-top: 180px;
    height: 90vh;
  }
  .introduce {
    font-size: 100px;
    font-weight: bold;
  }
  
  @keyframes slide_right {
    0% {
      left: -40%;
    }
    100% {
      left: 8%;
    }
  }
  @keyframes slide_left {
    from {
      right: -100%;
    }
    to {
      right: 10%;
    }
  }
  @keyframes fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #TAB_text {
    position: absolute;
    left: 8%;
    animation: slide_right 0.5s 1 ease-in-out;
  }
  #TAB_abbreviation_text {
    position: absolute;
    font-size: 80%;
    right: 10%;
    font-weight: 600;
    visibility: hidden;
  }
  
  .apply_btn {
    margin: 0 auto;
    height: 20%;
    width: 10%;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    font-weight: 500;
    background-color: #3c7bda;
    display: table;
    visibility: hidden;
  }
  .apply_btn a {
    display: table-cell;
    vertical-align: middle;
  }
  
  /* img {
    border-radius: 20px;
  } */
  .achievements {
    height: 100%;
  }
  .activity_text h1,
  .achievement_text,
  .advantages_text,
  .QnA_text {
    margin-left: 3%;
  font-size: 4vh;
  font-weight: bold;
  }
  .activity_text h4
  {
    margin-left: 3%;
 
  font-weight: bold;
  }
  .achievement_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
    margin-top: 3%;
  }
  .achievement_item {
    text-align: center;
    padding: 10%;
    position: relative;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .achievement_item_img {
    width: 100%;
  }
  .achievement_item_text {
    font-size: 20%;
  }
  .achievement_item_awardee {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  .hidden {
    display: none;
  }
  #ICPC_awardee,
  #HUFS_모각코_awardee {
    top: 47%;
  }
  #HUFS_CF_awardee {
    top: 27%;
  }
  /* 아래에서 위로 페이드 인 */
  .sa-up {
    transform: translate(0, 100%);
  }
  .sa-right {
    transform: translate(-100%, 0);
  }
  .sa-left {
    transform: translate(100%, 0);
  }
  .advantages {
    position: relative;
    height: 235vh;
  }
  .advantages_wrap {
    margin: 5%;
  }
  .advantages_item_text {
    font-size: 5vw;
    transition: all 0.5s ease;
    opacity: 0;
    margin-left: 2%;
  }
  .advantages_fr_item_contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .advantages_fr_item_content {
    margin: 2% 5% 5% 5%;
    opacity: 0;
    transition: all 1s ease;
  }
  .advantages_fr_item_img {
    text-align: center;
    height: 100%;
    line-height: 100%;
  }
  .advantages_fr_item_img img {
    vertical-align: middle;
    height: 30vh;
  }
  .advantages_fr_item_content_text {
    text-align: center;
    margin: 20px;
  }
  .advantages_room_item_contents {
    display: grid;
    padding: 50px;
    opacity: 0;
    transition: all 1s ease;
  }
  .advantages_room_item {
    margin: 20px;
  }
  
  .advantages_room_item:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-right: 0;
  }
  .advantages_room_item:nth-child(2) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    margin-right: 0;
  }
  .advantages_room_item:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    margin-right: 13px;
  }
  #TAB이미지1,
  #TAB이미지2,
  #TAB이미지3 {
    height: 470px;
  }
  #TAB이미지3 {
    width: 700px;
    object-fit: cover;
  }
  #TAB움짤 {
    height: 330px;
  }
  .advantages_room_item:nth-child(4) {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    margin-right: 0;
  }
  .advantages_room_item:nth-child(5) {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    margin-left: 15px;
  }
  
  .QnA {
    height: 200vh;
    font-size: 20px;
  }
  .QnA_wrap {
    margin: 120px;
    margin-top: 50px;
  }
  .QnA_item {
    margin: 40px;
    margin-bottom: 100px;
    margin-right: 200px;
  }
  .Q_wrap {
    display: flex;
    transition: all 0.5s ease;
    opacity: 0;
  }
  .Q_icon img {
    height: 90px;
    margin-right: 40px;
    margin-left: 80px;
  }
  .Q_content {
    background-color: #535353;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
    display: block;
  }
  #Q4 .Q_content {
    margin: 0;
    height: 60px;
    border-radius: 40px;
    height: 80px;
    line-height: 40px;
    padding-left: 15px;
  }
  .A_wrap {
  }
  .A_item {
    background-color: #006fd6;
    border-radius: 50px;
    text-align: right;
    margin: 15px;
    padding: 15px;
    padding-right: 30px;
  
    transition: all 0.5s ease;
    opacity: 0;
  }
  #A1-1 {
    margin-top: 50px;
    margin-left: 750px;
    border-radius: 35px;
  }
  #A1-2 {
    margin-left: 740px;
  }
  #A1-3 {
    margin-left: 720px;
  }
  #A1-4 {
    margin-left: 720px;
  }
  #A2-1 {
    margin-left: 530px;
  }
  #A3-1 {
    margin-left: 450px;
    line-height: 40px;
    border-radius: 40px;
  }
  #A4-1 {
    margin-left: 400px;
    line-height: 40px;
    border-radius: 40px;
    margin-top: 40px;
  }
  #A4-2 {
    margin-left: 350px;
  }
  .show {
    opacity: 1;
    transform: none;
  }
  
   .activity , .main{
    height:100vh;
    /*height: calc(var(--vh)*100);*/
  } 
  li{
    list-style: none;
  }
  .activities_menu_wrap li{
    margin:0 10px;
  }
  .content{
    /* padding-left: 25%;
    padding-right: 25%; */
   
  }
  
  .tab-content img{
    list-style: none;
    /* height:100vh; */
    height:45vh;
    /* width: 50%; */
    /* width: 50%;  */
    border-radius: 5%;
    /*padding: 5%;*/
  }
  .myNav li {
    display: block;
    font-size: 20px;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin:0 10px;
  }
  
  .myNav ul{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
  }
/*   
  .activity_text h1{
    position: relative;
    left:2%;
    font-size: 40px;

  } */
  .activities_item_wrap{
    display:flex;
    /* display: inline-flex; */
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
    /* height:vmax; */
    padding-left: 5%;
    padding-right: 5%;
    
    /* width:50%; */
  }
  
  .media_area{
    /* display: inline-block;
    vertical-align: top; */
    /*line-height: 15px;*/
  }
  
   /*section{
     display:block;
   }*/
   .contents li{
    float: left;
   }
  
   .myNav li{
     -webkit-trasition:all .35s ease-in-out;
     transition: all .35s ease-in-out;
     cursor:pointer;
   }
   .tab-content{
    display: none;
      /*padding: 12px;*/
  }
  .tab-content.current{
      /*display: inline-block;*/
    display:flex;
    margin:3%;
    background-color: black;
    overflow-x:scroll;
    scroll-behavior: smooth;
    white-space: normal;
    height: 30%; 
    
    /* 
    width:50%; */
    display: -webkit-box;
    justify-content: center;
    padding:0;
  }
  .controls span{
    position: inline-block;
    background: #333;
    color:#fff;
    padding:10px 20px;
    margin: 0 10px;
    top: 50%;
  
    transform:translateY(-50%);

  }
  .controls{
    text-align: center;
    margin-top:0;
  }
  .controls span .prev{right:calc(100%+50px);}
  .controls span .next{right:calc(100%+50px);}

  .tab-4 span{
    font-size:30%;
  }

/* #tab31,#tab42 {
    display:flex;
    flex-wrap: wrap;
	align-content: stretch;
  } */
p {
  width:50%;
  
}
/* .activity_text{
  margin-left: 3%;
  font-size: 6vw;
  font-weight: bold;
} */
  